.video-player-wrapper {
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
}
.video-player-wrapper p,label {
    max-width: 1100px;
    text-align: left;
    margin: 0 auto;
}
.info-layer {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    color: white;
    z-index: 250;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
}

.info-layer img {
    width: 200px;
    height: 200px;
    padding-right: 20px;
}

.info-layer a,
.info-layer a:visited {
    color: white;
}

.cue-point-manager-button {
    color: #FFF;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    line-height: 50px;
}

.cue-point-manager-layer {
    position: absolute;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.75);
    color: #FFF;
    width: 100%;
    height: 100%;
    z-index: 400;
    display: flex;
    flex-direction: row;
}

.cue-list {
    flex: 2;
}

.cue-table {
    width: 100%;
    padding: 30px;
}

.cue-row .json-header {
    width: 60%;
}

.cue-row .json {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 400px;
    display: inline-block;
}

.cue-row .actions {
    text-align: center;
}

.form-field {
    padding: 0 30px 10px 0;
    display: flex;
    justify-content: space-between;
}

.add-cue {
    flex: 1;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-list {
   margin: 0;
   padding: 0;
}

.player-list li {
   list-style: none;
   padding: 15px 35px;
   display: block;
   background: #cccc;
   cursor: pointer;
   text-align: left;
   margin-bottom: 1px;
}

li.selected {
    background: #03A9F4 !important;
}